*{
    box-sizing: border-box;
}
html{
    background-color: #efe3d5;
}
#books{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
}

.book{
    width:150px;
    height:175px;
    background-color: #eae8d3;
    border:1px solid black;
    margin:1em;
    text-align: center;
}

.book:hover{
    cursor: pointer;
}

#add_book_btn{
    border:1px solid black;
    background-color: #96d2b0;
}

#add_book_btn:hover{
    border: 2px solid black;
    background-color: #b2edcc;
}